.text-uppercase {
  text-transform: uppercase;
}

.accent-brand-light {
  color: var(--color-brand-light);
}

.accent-brand-dark {
  color: var(--color-brand-dark);
}

.semi-bold {
  font-weight: var(--semi-bold);
}
