.chefs-section {
  &__main-title {
    position: relative;
    margin: 0 auto 80px;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      content: '';
      width: 352px;
      display: block;
      border: 2px solid var(--color-primary-middle);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
